trunk/ITE Release/eu.fittest.softeam/eu.fittest.distributed.framework/eu.fittest.common/src/main/xsd/RequestProperties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 elementFormDefault="qualified">
 
 
<xsd:include schemaLocation="Message.xsd"/>
	
 	<xsd:element name="RequestProperties">
 		<xsd:complexType>
 		<xsd:complexContent>
 		<xsd:extension base="Message">
 		<xsd:sequence>
 			<xsd:element  name="property" maxOccurs="unbounded" minOccurs="0">
 			<xsd:complexType>
 			<xsd:attribute name="name" type="xsd:string" use="required"/>
 			</xsd:complexType>
 			</xsd:element>
 		</xsd:sequence>
 		</xsd:extension>		
 		</xsd:complexContent>		
 		</xsd:complexType>
 	</xsd:element>
</xsd:schema>