ITE Release/eu.fittest.distributed.framework/eu.fittest.common/src/main/xsd/Message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 elementFormDefault="qualified">

<xsd:complexType name="Message">
   	<xsd:sequence>
   		<xsd:element maxOccurs="1" minOccurs="1" name="from" type="xsd:string"/>	
   		<xsd:element maxOccurs="1" minOccurs="1" name="to" type="xsd:string"/>
   	</xsd:sequence>
</xsd:complexType>
   	
</xsd:schema>